.App {
    background-color: #444;
    color: #DDD;
    font-family: sans-serif;  /*noch was cooleres finden*/
    height: 800px;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  text-align: center;
}
