body{
  width: 100%;
}

h1, h2, h3, h4 {
  color: #0E0E0E;
  font-family: 'Playfair Display', serif;
}

.App {
    background-color: #EEE;
    color: #0E0E0E;
    font-size: 14pt;
    font-family: 'Tinos', serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-image: url('./img/bg.png');
  height: 250px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.centered-v {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
